build/**
build/
.gradle/
.gradle/**
dist/standalone/transdbdata/**
dist/jar/**
dist/jar/**
dist/apache-tomcat-6.0.53/logs/
dist/apache-tomcat-6.0.53/logs/**
webapp/docs_engine/WEB-INF/classes/
webapp/docs_engine/WEB-INF/classes/**
gradle/
gradle/**
.gradle/**/
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/jarRepositories.xml
.idea/modules.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
dist/apache-tomcat-6.0.53/lib/pl-trans-server-1.0-SNAPSHOT.jar
webapp/docs_engine/WEB-INF/classes/com/eBrother/app/core/BaseMain.class
webapp/docs_engine/WEB-INF/classes/com/eBrother/app/impl/AccessLogParser.class
webapp/docs_engine/WEB-INF/classes/com/eBrother/app/impl/MusicOSPParser.class
webapp/docs_engine/WEB-INF/classes/com/eBrother/app/impl/MusicOSPParser$Meta.class
webapp/docs_engine/WEB-INF/classes/com/eBrother/app/impl/MusicOSPParser$Server.class
